/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important
  width 100%;

.navbar .site-name
  display none;

.layout-footer
  padding: 40px 0;
  border-top: 1px solid #eaecef;
  text-align: center;
  color: #4e6e8e;

.page
  padding-bottom 0 !important;

.code-copy svg {
  right: 42px !important;
}

.code-copy span {
  right: 74px !important;
  pointer-events: none;
}
